@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Medium"), local("SFProDisplay-Medium"),
    url("SFProDisplay-Medium.woff2") format("woff2"),
    url("SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Bold"), local("SFProDisplay-Bold"),
    url("SFProDisplay-Bold.woff2") format("woff2"),
    url("SFProDisplay-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SF Pro Display";
  src: local("SF Pro Display Regular"), local("SFProDisplay-Regular"),
    url("SFProDisplay-Regular.woff2") format("woff2"),
    url("SFProDisplay-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "SF Pro Display";
  transition: 0.4s ease;
  font-size: 14px;
  line-height: 20px;
}

body {
  background-color: #f6f6f7;
}

@media (min-width: 1367px) {
  .container {
    max-width: 1356px;
  }
}

@media (min-width: 1201px) and (max-width: 1281px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 768px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.custom__custom-item-option {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  background: #ffffff;
  border: 1px solid #babfc3;
  border-radius: 8px;
}

body {
  position: relative;
}

#canvas {
  display: flex;
}

.canvas__border {
  border: 1px solid rgba(153, 150, 150, 0.348);
  border-radius: 8px;
  overflow: hidden;
}

.global-wrapper {
  display: flex;
  gap: 50px;
}

@media (max-width: 991px) {
  .global-wrapper {
    flex-direction: column;
  }
}

.canvas__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #babfc3;
  height: max-content;
  padding: 46px;
  border-radius: 8px;
  overflow: hidden;
}

#canvas canvas {
  min-width: 250px !important;
  max-width: 250px !important;
  min-height: 250px !important;
  max-height: 250px !important;
  object-fit: cover;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 992px) {
  .canvas__wrapper {
    position: sticky;
    top: 10px;
    z-index: 10;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-bottom: 20px;
}

.custom__inline-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 40px;
}

.custom__item {
  transition: 0.4s ease;
  display: flex;
  width: max-content;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}

.custom__item-inline {
  flex-direction: row;
  transition: 0.4s ease;
  display: flex;
  width: max-content;
  flex-wrap: wrap;
  gap: 5px;
}

.custom__item-alert {
  display: none;
  color: rgb(255, 166, 0);
}

.custom__btn:focus {
  background-color: rgb(0, 50, 37);
}

.custom__btn:hover {
  background-color: rgb(1, 95, 71);
}
input[type="color"] {
  width: 54px;
  height: 34px;
  background: #ffffff;
  border: 1px solid #babfc3;
  border-radius: 4px;
}

input[type="color"]::-webkit-color-swatch {
  border: 1px solid #babfc3;
  height: 20px;
  margin-left: 3.5px;
  margin-right: 3.5px;
  border-radius: 4px;
}

.input__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.drop__button {
  z-index: 1;
  padding: 8px 16px;
  background: #fff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px solid #babfc3;
  cursor: pointer;
}

.logo:before {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
}

input:not(input[type="file"]),
select {
  border-radius: 5px;
  transition: 0.4s ease;
}

input[type="number"],
input[type="text"],
select {
  padding: 6px 12px;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  border: 1px solid #babfc3;
  outline: 0px;
}

input[type="number"] {
  width: 140px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  color: red;
}

input#link {
  min-width: 260px;
}

.hidden {
  display: none;
}

.dropZoneContainer {
  position: relative;
}

.dropZoneOverlay,
.FileUpload {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 560px;
  height: 171px;
}

@media (max-width: 767px) {
  .dropZoneOverlay,
  .FileUpload {
    width: 100%;
  }
}

.dropZoneOverlay {
  display: flex;
  flex-direction: column;
  gap: 20px;
  top: 0;
  border: 2px dotted #8c9196;
  border-radius: 5px;
  color: #6d7175;
  background-color: #ffffff;
  position: absolute;
  text-align: center;
}

.drop__wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.FileUpload {
  opacity: 0;
  position: relative;
  cursor: pointer;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom__custom-title {
  margin: 0;
  font-size: 28px;
}

.forms__wrappper {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.forms__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
}

.forms__item-corndot .forms__image-wrapper,
.forms__item-square .forms__image-wrapper {
  width: 75px;
  height: 75px;
}

.forms__image {
  object-fit: cover;
  width: 90%;
  height: 90%;
}

.forms__item,
.forms__item-corndot,
.forms__item-square {
  border: 1px solid #babfc3;
  border-radius: 10px;
}

.forms__item.active,
.forms__item-corndot.active,
.forms__item-square.active {
  border: 1px solid green;
  position: relative;
}

.forms__item.active::before,
.forms__item-corndot.active::before,
.forms__item-square.active::before {
  content: "";
  width: 100%;
  height: 100%;
  z-index: 10;
  border-radius: 8px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #008060;
  opacity: 0.25;
}

.forms__item.active .forms__image-wrapper,
.forms__item-corndot.active .forms__image-wrapper,
.forms__item-square.active .forms__image-wrapper {
  position: relative;
  z-index: 1;
}

.custom__btn {
  border: 0px;
  outline: 0px;
  border-radius: 5px;
  background-color: #008060;
  padding: 8px;
  cursor: pointer;
  color: #fff;
  transition: 0.4s ease;
  width: 100%;
}
